PORT=3000

FIREBASE_PROJECT_ID=ahmed55
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@ahmed55.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nPUT_YOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
